<nav id="contact">
     <div class="container">
          <div class="aboutContact">
               <h1 style="text-shadow: 2px 4px 4px grey;">CONTATO</h1>
          </div>

          <div class="cardContact">
               <div class="cardImage">
                    <img class="borderImage" src="../../../assets/imagens/logoIaComFundo.png" width="208" height="208">
               </div>
               <div class="cardText">
                    <h3 class="cardTitle">Rafael Pototsky Lourenço</h3>
                    <p><b>Localização:</b> Brasil, Curitiba / Paraná</p>
                    <p><b>E-Mail:</b> rafaelpototskylourenco10&#64;gmail.com</p>
                    <p><b>Nascimento:</b> 18/10/2004</p>
                    <p><b>Idade:</b> 20 Anos</p>
                    <p><b>--------------------------------------------------</b></p>
                    <div class="fonts">
                         <a href="https://mail.google.com/mail/u/0/#inbox?compose=VpCqJVGFXMpmsXwmFtcbPrWPcCpHRfbkQZZZwPqljNRjnLXXrhsjppbchBPsdSFTXKkLtRQ" target="_blank"><i class="fa-solid fa-envelope fa-xl firstFont"></i></a>
                         <a href="#" target="_blank"><i class="fa-solid fa-house fa-xl font"></i></a>
                         <a href="https://www.linkedin.com/in/rafael-pototsky-12b20b2a7/" target="_blank"><i class="fa-brands fa-linkedin fa-2xl font"></i></a>
                         <a href="https://www.instagram.com/rafa_pototsky/" target="_blank"><i class="fa-brands fa-square-instagram fa-2xl font"></i></a>
                         <a href="https://github.com/Rafael-Pototsky-Lourenco" target="_blank"><i class="fa-brands fa-square-github fa-2xl font"></i></a>
                    </div>
               </div>
          </div>
     </div>
</nav>
<br>
<nav>
     <div class="container footer">
          <p>&#169; <i>Rafael Pototsky 2022-2025 . Todos os Direitos Reservados</i></p>
     </div>
</nav>