<nav id="contact">
     <div class="container">
          <div class="aboutContact">
               <h1>CONTATO</h1>
          </div>

          <div class="cardContact">
               <div class="cardImage">
                    <img src="../../../assets/imagens/logoIASemFundo.png" width="208" height="208">
               </div>
               <div class="cardText">
                    Teste
               </div>
          </div>
     </div>
</nav>
<br>
<nav>
     <div class="container footer">
          <p>Rafael Pototsky 2022-2025 . Todos os Direitos Reservados</p>
          <p>Terms of Use</p>
     </div>
</nav>