#container
{
     display: flex;
     justify-content: center;
     align-items: center;
     color: black;
}

#contact
{
     background: url(../../../assets/imagens/contactWallpaper.jpg) no-repeat center center fixed;
     background-size: cover;
     width: 100%;
     height: auto;
     background-attachment: fixed;
     padding-bottom: 3%;
}

.aboutContact
{
     text-align: center;
     padding-top: 1%;
     font-size: 2.3em;
     color: white;
}

.cardContact
{
     background-color: white;
     border-radius: 15px;
     border: 5px solid grey;
     display: flex;
     justify-content: start;
     align-items: start;

     .cardImage
     {
          margin: 5%;

          .borderImage
          {
               border: 5px solid gray;
               border-radius: 100px;
               width: 208px;
               height: 208px;
          }
     }

     .cardText
     {
          margin: 3%;

          .cardTitle
          {
               text-shadow: 2px 4px 4px grey;
          }
     }

     .fonts
     {
          font-size: 20px;
          
          
          .firstFont
          {
               padding-left: 10px;
               color: darkslategray;
          }

          .font
          {
               padding-left: 25px;
               color: darkslategray;
          }

          :hover
          {
               color: black;
          }
     }
}

.footer
{
     text-align: center;
}

.titleContact
{
     text-shadow: 2px 4px 4px grey;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px)
{ 
     .cardContact
     {
          width: 600px;
     }
     .cardTitle
     {
          font-size: 1.4em;
     }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 576px) and (max-width: 767.98px)
{
     .cardContact
     {
          width: 600px;
     }
     .cardTitle
     {
          font-size: 1.4em;
     }
}