<nav id="contact">
     <div class="container">
          <div class="aboutContact">
               <h1 class="titleContact">{{ aboutContact }}</h1>
          </div>

          <div class="cardContact">
               <div class="cardImage">
                    <img class="borderImage" [src]="logoImage">
               </div>
               <div class="cardText">
                    <h3 class="cardTitle">{{ cardName }}</h3>
                    <p><b>{{ location }}</b> {{ locationText }}</p>
                    <p><b>{{ email }}</b> {{ emailText }}</p>
                    <p><b>{{ bornDate }}</b> {{ bornDateText }}</p>
                    <p><b>{{ age }}</b> {{ ageText }}</p>
                    <p><b>{{ separation }}</b></p>
                    <div class="fonts">
                         <a [href]="googleLink" target="_blank"><i class="fa-solid fa-envelope fa-xl firstFont"></i></a>
                         <a href="#"><i class="fa-solid fa-house fa-xl font"></i></a>
                         <a [href]="linkedinLink" target="_blank"><i class="fa-brands fa-linkedin fa-2xl font"></i></a>
                         <a [href]="instagramLink" target="_blank"><i class="fa-brands fa-square-instagram fa-2xl font"></i></a>
                         <a [href]="githubLink" target="_blank"><i class="fa-brands fa-square-github fa-2xl font"></i></a>
                    </div>
               </div>
          </div>
     </div>
</nav>
<br>
<nav>
     <div class="container footer">
          <p>&#169; <i>{{ copyright }}</i></p>
     </div>
</nav>