<header>
     <nav class="navbar navbar-expand-md navbar-light fixed-top nav-transparente">
          <div class="container">
                    <a class="navbar-brand" href="#"><p class="name"><i>Rafael Pototsky</i></p></a>
                    
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
                         <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse " id="nav-principal">
                         <ul class="navbar-nav ml-auto text-uppercase">
                              <li class="nav-item"><a class="nav-link" href="#sobre">Sobre</a></li>
                              <li class="nav-item"><a class="nav-link" href="#cursos">Cursos</a></li>
                              <li class="nav-item"><a class="nav-link" href="#contato">Contato</a></li>
                         </ul>
                    </div>
          </div>
     </nav>
</header>