<div id="headerBackground">
     <header>
          <nav class="navbar navbar-expand-lg navbar-light fixed-top nav-transparente" id="mainNav">
               <div class="container">
                    <a class="navbar-brand" href="#"><p class="name"><i>{{ name }}</i></p></a>
                         
                    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav-principal">
                         <i class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i>
                    </button>
     
                    <div class="collapse navbar-collapse" id="nav-principal">
                         <ul class="navbar-nav ml-auto text-uppercase">
                              <li class="nav-item"><a class="nav-link" href="#about">{{ about }}</a></li>
                              <li class="nav-item"><a class="nav-link" href="#course">{{ courses }}</a></li>
                              <li class="nav-item"><a class="nav-link" href="#contact">{{ contact }}</a></li>
                         </ul>
                    </div>
               </div>
          </nav>
     </header>
     
     <section class="d-flex">
          <div class="container text-white align-self-center">
               <div class="row">
                    <div class="col-md-12 firstBackground">
                         <h1 class="text-uppercase">{{ welcome }}</h1>
     
                         <h1 class="text-uppercase">{{ website }}</h1>
     
                    <a class="btn btn-xl buttonAboutMe" href="#about">{{ aboutMe }}</a>
                    </div>
               </div>
          </div>
     </section>
</div>
