#container
{
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: purple;
     color: whitesmoke;
}

#container2
{
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: darkred;
     color: whitesmoke;
}

#container3
{
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: black;
     color: whitesmoke;
}