/* You can add global styles to this file, and also import other style files */

body
{
     overflow-x: hidden;
}

html
{
     scroll-padding-top: 4.5rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px)
{
     body
     {
          overflow-x: hidden;
     }
}