<div class="trailBetweenJobs">
     <div class="d-flex">
          <div class="col-md-5 textAboutMeLeft">
               <h3> {{ numberAboutYearLeft1 }} </h3>
               <h3> {{ textAboutWorkLeft1 }} </h3>
               <p class="paragraphLeft"> {{ textAboutMeLeft1 }}</p>
          </div>
          <div class="col-md-2 trailImage">
               <img class="borderImage" src="../../../assets/imagens/dayOne.jpg" width="150px" height="150px">
          </div>
     </div>

     <div class="d-flex">
          <div class="col-md-5"></div>
          <div class="col-md-2 trailImage">
               <img class="borderImage" src="../../../assets/imagens/promocao.png" width="150px" height="150px">
          </div>
          <div class="col-md-4 textAboutMeRight">
               <h3> {{ numberAboutYearRight }} </h3>
               <h3> {{ textAboutWorkRight }} </h3>
               <p class="paragraphRight"> {{ textAboutMeRight }} </p>
          </div>
     </div>

     <div class="d-flex">
          <div class="col-md-5 textAboutMeLeft">
               <h3> {{ numberAboutYearLeft2 }} </h3>
               <h3> {{ textAboutWorkLeft2 }} </h3>
               <p class="paragraphLeft"> {{ textAboutMeLeft2 }}</p>
          </div>
          <div class="col-md-2 trailImage">
               <img class="borderImage" src="../../../assets/imagens/TI.jpg" width="150px" height="150px">
          </div>
     </div>

     <div class="d-flex">
          <div class="col-md-5"></div>
          <div class="col-md-2 trailImage">
               <img class="borderImage" src="../../../assets/imagens/jornadaContinua.png" width="150px" height="150px">
          </div>
     </div>
</div>