<div class="trailBetweenJobs">
     <div class="d-flex" *ngIf="isLeft; else rightContent">
          <div class="col-md-5 textAboutMeLeft">
               <h3> {{ numberAboutYear }} </h3>
               <h3> {{ textAboutWork }} </h3>
               <p class="paragraphLeft"> {{ textAboutMe }}</p>
          </div>
          <div class="col-md-2 trailImage">
               <img class="borderImage" [src]="aboutImage" width="150px" height="150px">
          </div>
     </div>

     <ng-template #rightContent>
          <div class="d-flex">
               <div class="col-md-5"></div>
               <div class="col-md-2 trailImage">
                    <img class="borderImage" [src]="aboutImage" width="150px" height="150px">
               </div>
               <div class="col-md-4 textAboutMeRight">
                    <h3> {{ numberAboutYear }} </h3>
                    <h3> {{ textAboutWork }} </h3>
                    <p class="paragraphRight"> {{ textAboutMe }} </p>
               </div>
          </div>
     </ng-template>
</div>