.trailImage
{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 5%;
}

.borderImage
{
     border-radius: 50%;
     border: 6px solid gray;
     width: 150px;
     height: 150px;
}

.paragraphLeft
{
     width: 50%;
     margin-left: 50%;
}

.textAboutMeLeft
{
     font-size: 1.1em;
     text-align: end;
}

.paragraphRight
{
     width: 50%;
     margin-right: 50%;
}

.textAboutMeRight
{
     font-size: 1.1em;
     text-align: start;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px)
{ 
     .textAboutMeLeft
     {
          margin-right: 5%;
     }
     .paragraphLeft
     {
          text-align: start;
     }

     .textAboutMeRight
     {
          margin-left: 5%;
     }
     .paragraphRight
     {
          width: 70%;
     }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 576px) and (max-width: 767.98px)
{
     .textAboutMeLeft
     {
          margin-right: 30%;
     }
     .paragraphLeft
     {
          text-align: start;
          width: 100%;
          font-size: 0.8em;
     }

     .textAboutMeRight
     {
          margin-left: 10%;
     }
     .paragraphRight
     {
          width: 100%;
          font-size: 0.8em;
     }
     h3
     {
          font-size: 1.1em;
     }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px)
{
     .textAboutMeLeft
     {
          padding-right: 7%;
     }
     .paragraphLeft
     {
          padding-right: 40%;
          text-align: start;
          width: 100%;
     }

     .textAboutMeRight
     {
          padding-left: 5%;
     }
     .paragraphRight
     {
          width: 100%;
     }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px)
{
     .textAboutMeLeft
     {
          padding-right: 3%;
     }
     .paragraphLeft
     {
          padding-right: 40%;
          text-align: start;
          width: 100%;
     }

     .textAboutMeRight
     {
          padding-left: 3%;
     }
     .paragraphRight
     {
          width: 100%;
     }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{
}