<nav id="about">
     <div id="container">
          <div class="aboutMe">
               <h2>SOBRE MIM</h2>

               <p class="knowMore" style="font-size: 0.5em;">Saiba sobre minha carreira</p>
          </div>
     </div>

     <app-trail-about-me
     [aboutMeLeft1]="aboutMe1"
     [aboutWorkLeft1]="work1"
     [aboutNumberLeft1]="year1"
     [aboutMeRight]="aboutMe2"
     [aboutWorkRight]="work2"
     [aboutNumberRight]="year2"
     [aboutMeLeft2]="aboutMe3"
     [aboutWorkLeft2]="work3"
     [aboutNumberLeft2]="year3"
     ></app-trail-about-me>
</nav>