#container
{
     display: flex;
     justify-content: center;
     align-items: center;
     color: black;
}

.aboutMe
{
     text-align: center;
     margin-top: 3%;
     font-size: 2.3em;
     color: rgb(100, 69, 49);
}

.knowMore
{
     font-size: 0.5em;
     font-style: italic;
     color: grey;
}

.borderImage
{
     border-radius: 50%;
     border: 6px solid gray;
}

.trailImage
{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 5%;
}